<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="homeCenter">
    <h3>Home:</h3>
    <div class="spacer">
      <div class="logoutButton">
        <button ion-button color="tertiary" (click)="logout()">Logout</button>
      </div>
    </div>
    <div class="map" #map id="map"></div>
    <div id="inMap">
      <div>
        <span>Enter your address here </span><input id = "numPoints" type="text" />
        <button >Search Groups</button>
      </div>
      <div>
        <strong>Results</strong>
      </div>
      <div id="output"></div>
    </div>
    <div class="spacer">
      <div class="listItem">
        <h4>Alarms:</h4>
        <ion-item *ngFor="let alarmItem of alarms">
          <!--{{newsItem.result.name}}-->
        </ion-item>
      </div>
    </div>
    <div class="spacer">
      <div class="listItem">
        <h4>News:</h4>
        <ion-item *ngFor="let newsItem of news">
          <!--{{newsItem.result.name}}-->
        </ion-item>
      </div>
    </div>
    <div class="spacer">
      <div class="listItem">
        <h4>Requests:</h4>
        <ion-item *ngFor="let requestItem of requests">
          <!--{{newsItem.result.name}}-->
        </ion-item>
      </div>
    </div>
    <div class="spacer">

    </div>
    <div class="inputButton">
      <!--<input type="button" id="btn_login" value="Login" (click)="loginClick()"/>-->
      <button ion-button color="secondary" (click)="displayUserDetails()">getUserDetails</button>
    </div>
  </div>


</ion-content>
