page-home {
  .homeCenter {
    width: 90%;
    height: auto;
    padding: 2px 2px 25px 2px;
    min-width: 300px;
    margin: auto;
    border-radius: 20px;
    background: #aeffff;
  }

  h3 {
    margin: 15px 5px 5px 20px;
    padding: 5px 0px 0px 0px;
  }

  .spacer {
    margin: 2px auto;
    width: auto;
    min-height: 50px;
  }

  .listItem {
    margin: 10px 20px;
    width: fit-content;
    display: inline-block;
  }

  .listButton {
    position: relative;
    display: inline-block;
  }

  .inputData, .inputLabel {
    padding: 2px;
    margin: 2px 20px;
    width: 150px;
    height: auto;
  }

  .postData {
    width: 90%;
    margin: 2px auto;
  }

  .inputItem {
    padding: 2px;
    margin: 10px 20px;
    width: 250px;
    height: auto;
    float: left;
  }

  .inputData {
    border-bottom: #222222 solid 1px;
  }

  .inputButton {
    padding: 2px;
    height: auto;
    margin: 5px;
    display: inline-block;
  }

  .inputButton button {
    padding: 2px;
    width: 175px;
  }

  .inputCenter {
    margin: 5px auto;
    width: fit-content;
    align-items: center;
  }

  .text-input-md {
    margin: 5px 5px;
  }

  .logoutButton {
    float:right;
    margin: 5px 10px;
  }

  .mapContainer {
    margin: 10px auto;
    height: 300px;
    width: 90%;
  }

  #map {
    height: 50%;
      width: 80%;
  }

  .inMap {
    margin: 5px auto;
    width: fit-content;
  }

  #output {
    font-size: 11px;
  }
}
