<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="homeCenter">
    <h3>Home:</h3>
    <div class="spacer">
      <div class="logoutButton">
        <button ion-button color="tertiary" (click)="logout()">Logout</button>
      </div>
    </div>
      
      <!DOCTYPE html>
<html>
<head>
    <title>Distance Matrix service</title>
    <style>
        /*#right-panel {
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        } */

       /* #right-panel select, #right-panel input {
            font-size: 15px;
        }

        #right-panel select {
            width: 100%;
        }

        #right-panel i {
            font-size: 12px;
        } */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
            width: 100%%;
        }
       /* #right-panel {
            float: right;
            width: 48%;
            padding-left: 2%;
        } */
        #output {
            font-size: 11px;
        }
    </style>
</head>
<body>
<div id="inMap">
      <div>
        <span>Enter your address here </span><input id = "numPoints" type="text" />
        <button onclick = "initMap1()">Search Groups</button>
    </div>
    <div>
        <strong>Results</strong>
    </div>
    <div id="output"></div>
</div>
<div id="map"></div>
<script>

function initMap() {
        var bounds = new google.maps.LatLngBounds;
        var markersArray = [];

        
        var destination = ["5430 Harrison Street, Kansas City, MO","5411 Charlotte Street, Kansas City, MO","3421 Armour Road, North Kansas City, MO","227 Nichols Rd, Kansas City, MO 64112",
         "1320 E 49th St, Kansas City, MO 64110"];

        var destinationIcon = 'https://chart.googleapis.com/chart?' +
            'chst=d_map_pin_letter&chld=D|FF0000|000000';
        //var originIcon = 'https://chart.googleapis.com/chart?' +
            'chst=d_map_pin_letter&chld=O|FFFF00|000000';
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 55.53, lng: 9.4},
            zoom: 10
        });
        var geocoder = new google.maps.Geocoder;

        var service = new google.maps.DistanceMatrixService;
        service.getDistanceMatrix({
            origins: [origin1],
            destinations: [destination[0], destination[1],destination[2], destination[3], destination[4]],
            travelMode: 'DRIVING',
            unitSystem: google.maps.UnitSystem.METRIC,
            avoidHighways: false,
            avoidTolls: false
        }, function(response, status) {
            if (status !== 'OK') {
                alert('Error was: ' + status);
            } else {
                var originList = response.originAddresses;
                var destinationList = response.destinationAddresses;
                var outputDiv = document.getElementById('output');
                outputDiv.innerHTML = '';
                deleteMarkers(markersArray);

                var showGeocodedAddressOnMap = function(asDestination) {
                    var icon = asDestination ? destinationIcon : originIcon;
                    return function(results, status) {
                        if (status === 'OK') {
                            map.fitBounds(bounds.extend(results[0].geometry.location));
                            markersArray.push(new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location,
                                icon: icon
                            }));
                        } else {
                            alert('Geocode was not successful due to: ' + status);
                        }
                    };
                };

                for (var i = 0; i < originList.length; i++) {
                    var results = response.rows[i].elements;
                    geocoder.geocode({'address': originList[i]},
                        showGeocodedAddressOnMap(false));
                    for (var j = 0; j < results.length; j++) {
                        geocoder.geocode({'address': destinationList[j]},
                            showGeocodedAddressOnMap(true));
                        outputDiv.innerHTML += originList[i] + ' to ' + destinationList[j] +
                            ': ' + results[j].distance.text + ' in ' +
                            results[j].duration.text + '<br>';



                        /*ArrayList<String> mylist = new ArrayList<String>();
                        mylist.add(results[j].distance.text);

                        Collections.sort(arraylist, Collections.reverseOrder());

                        /!* Sorted List in reverse order*!/
                        System.out.println("ArrayList in descending order:");
                        for(String str: arraylist){
                            System.out.println(str);
                        }
                        */


                    }
                }
            }
        });
    }



    function initMap1() {
        var bounds = new google.maps.LatLngBounds;
        var markersArray = [];
        //var origin1 = 'Oak Park Mall, W 95th St, Overland Park, KS';
        /*var destination1 = '5430 Harrison Street, Kansas City, MO';
        var destination2 = '5411 Charlotte Street, Kansas City, MO';
        var destination3 = '3421 Armour Road, North Kansas City, MO';
        var destination4 = '227 Nichols Rd, Kansas City, MO 64112';
        var destination5 = '1320 E 49th St, Kansas City, MO 64110';
        var destination6 = '7550 W 75th St, Overland Park, KS 66204';
        var destination7 = '4701 Mission Rd, Westwood, KS 66205';
        var destination8 = '8632 Chestnut Circle, Kansas City, MO';
        var destination9 = '655 E Minor Dr, Kansas City, MO 64131';*/
        var destination = ["5430 Harrison Street, Kansas City, MO","5411 Charlotte Street, Kansas City, MO","3421 Armour Road, North Kansas City, MO","227 Nichols Rd, Kansas City, MO 64112",
            "1320 E 49th St, Kansas City, MO 64110", "7550 W 75th St, Overland Park, KS 66204","4701 Mission Rd, Westwood, KS 66205","8632 Chestnut Circle, Kansas City, MO","655 E Minor Dr, Kansas City, MO 64131"];
//var numPoints=5;
        var origin1 = document.getElementById('numPoints').value; //address is taken here
        var destinationIcon = 'https://chart.googleapis.com/chart?' +
            'chst=d_map_pin_letter&chld=D|FF0000|000000';
        var originIcon = 'https://chart.googleapis.com/chart?' +
            'chst=d_map_pin_letter&chld=O|FFFF00|000000';
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 55.53, lng: 9.4},
            zoom: 10
        });
        var geocoder = new google.maps.Geocoder;

        var service = new google.maps.DistanceMatrixService;
        service.getDistanceMatrix({
            origins: [origin1],
            destinations: [destination[0], destination[1],destination[2], destination[3], destination[4],destination[5], destination[6], destination[7], destination[8]],
            travelMode: 'DRIVING',
            unitSystem: google.maps.UnitSystem.METRIC,
            avoidHighways: false,
            avoidTolls: false
        }, function(response, status) {
            if (status !== 'OK') {
                alert('Error was: ' + status);
            } else {
                var originList = response.originAddresses;
                var destinationList = response.destinationAddresses;
                var outputDiv = document.getElementById('output');
                outputDiv.innerHTML = '';
                deleteMarkers(markersArray);

                var showGeocodedAddressOnMap = function(asDestination) {
                    var icon = asDestination ? destinationIcon : originIcon;
                    return function(results, status) {
                        if (status === 'OK') {
                            map.fitBounds(bounds.extend(results[0].geometry.location));
                            markersArray.push(new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location,
                                icon: icon
                            }));
                        } else {
                            alert('Geocode was not successful due to: ' + status);
                        }
                    };
                };

                var temp, temp1,temp3,temp4;
                var results = response.rows[0].elements;
                geocoder.geocode({'address': originList[0]},
                    showGeocodedAddressOnMap(false));
                for(var i=0; i<results.length; i++){
                    for(var j = 0; j<i; j++){
                        if(results[j].distance.value > results[i].distance.value){
                            temp = results[i].duration.value;
                            results[i].duration.value = results[j].duration.value ;
                            results[j].duration.value = temp;
                            temp1 = results[i].duration.text;
                            results[i].duration.text = results[j].duration.text ;
                            results[j].duration.text = temp1;
                            temp2 = destinationList[i];
                            destinationList[i] = destinationList[j] ;
                            destinationList[j] = temp2;
                            temp3 = results[i].distance.value;
                            results[i].distance.value = results[j].distance.value ;
                            results[j].distance.value = temp3;
                            temp4 = results[i].distance.text;
                            results[i].distance.text = results[j].distance.text ;
                            results[j].distance.text = temp4;
                        }
                    }
                }
                console.log(5);
                for(var j =0 ; j< 5; j++){
                    geocoder.geocode({'address': destinationList[j]},
                        showGeocodedAddressOnMap(true));
                    outputDiv.innerHTML += originList[0] + ' to ' + destinationList[j] +
                        ': ' + results[j].distance.text + ' in ' +
                        results[j].duration.text + '<br>';
                }
                console.log(results);
            }
        });
    }


    function deleteMarkers(markersArray) {
        for (var i = 0; i < markersArray.length; i++) {
            markersArray[i].setMap(null);
        }
        markersArray = [];
    }


</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClH87xdu9pX13BNKQIElkBk7H4clRDOGM&callback=initMap">

</script>
</body>
</html>
      
    <div class="spacer">
      <div class="listItem">
        <h4>Alarms:</h4>
        <ion-item *ngFor="let alarmItem of alarms">
          <!--{{newsItem.result.name}}-->
        </ion-item>
      </div>
    </div>
    <div class="spacer">
      <div class="listItem">
        <h4>News:</h4>
        <ion-item *ngFor="let newsItem of news">
          <!--{{newsItem.result.name}}-->
        </ion-item>
      </div>
    </div>
    <div class="spacer">
      <div class="listItem">
        <h4>Requests:</h4>
        <ion-item *ngFor="let requestItem of requests">
          <!--{{newsItem.result.name}}-->
        </ion-item>
      </div>
    </div>
    <div class="spacer">

    </div>
  </div>
    
    
</ion-content>
