page-register {
    ion-content {
    background: url(../assets/imgs/login.gif) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    .item-md, .item-ios {
      background: none;
    }
  }

        
  .registerCenter {
    width: 35%;
    height: 140%;
    padding: 2px 2px 25px 2px;
    min-width: 200px;
    margin-top: 100px;
      margin-left: 500px;
    border-radius: 20px;
      opacity: 0.9;
    background: #101010;
  }

  h3 {
    margin: 15px 5px 5px 20px;
    padding: 5px 0px 0px 0px;
  }

  .spacer {
    margin: 2px auto;
    width: auto;
  }

  .inputData, .inputLabel {
    
      padding: 2px;
    margin: 5px 20px;
    width: 400px;
    height: auto;
      font-weight: 400;
      font-size: 25px;
      border-radius: 20px;
  }

  .spacer p {
    margin: 2px 10px 20px 10px;
  }

  .inputData {
    border-bottom: #222222 solid 1px;
  }

  .text-input-md {
    margin: 5px 5px;
  }

  .inputButton {
    padding: 2px;
    width: 100px;
    height: auto;
    margin: 5px auto;
  }

  a {
    color: #488aff;
  }
}
