page-register {
  .registerCenter {
    width: 20%;
    height: auto;
    padding: 2px 2px 25px 2px;
    min-width: 200px;
    margin: auto;
    border-radius: 20px;
    background: #aeffff;
  }

  h3 {
    margin: 15px 5px 5px 20px;
    padding: 5px 0px 0px 0px;
  }

  .spacer {
    margin: 2px auto;
    width: auto;
  }

  .inputData, .inputLabel {
    padding: 2px;
    margin: 2px auto;
    width: 150px;
    height: auto;
  }

  .spacer p {
    margin: 2px 10px 20px 10px;
  }

  .inputData {
    border-bottom: #222222 solid 1px;
  }

  .text-input-md {
    margin: 5px 5px;
  }

  .inputButton {
    padding: 2px;
    width: 100px;
    height: auto;
    margin: 5px auto;
  }

  a {
    color: #488aff;
  }
}
